* {
    box-sizing: border-box;
}
html 

body {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: gray ;
    background-image: url(../img/h2-pattern.png);

}

.producao-img {
    width: 130%;
    max-width: 950px;
    /* width: 2200px; */
}
.logo-monomito {
    width: 100px;
    /* margin-block-start: -709px; */
    background-color: black;
}
.logo-monomito-2 {
    width: 100px;
    /* margin-block-start: -709px;
    margin-left: 1200px; */
    background-color: black;
}



/* #monomito-personal {
    background-image: url(/img/h2-pattern.png), url(/img/logo\ baixa.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
} */

.texto-somos {
    font-size: 10px;
    color: #d2fd34;
    text-align: center;
}

.titulo {
    font-size: 15px;
    color: white;
}
.texto-monomito {
margin-left: 10px;
font-size: 12px;
color: white;
}
.texto-monomito-2 {
    margin-left: 10px;
    font-size: 12px;
    color: white; 
}
#monomito-pessoal {
    display: flex;
}
.larissa {
    display: flex;
    flex-direction: initial;
    align-items: center;
}
.foto-larissa {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.texto-larissa {
margin-left: 10px;
color: white;
}

.lincoln {
    display: flex;
    flex-direction: initial;
    align-items: center;
}
.foto-lincoln {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.texto-lincoln {
    margin-left: 10px;
    color: white;
}

.paulo {
    display: flex;
    flex-direction: initial;
    align-items: center;
}
.foto-paulo {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.texto-paulo {
margin-left: 10px;
color: white;
}

/* //media queries// */
@media (min-width: 320px){
    
    .logo-monomito {
        display: none;
    }
    .logo-monomito-2 {
        display: none;
    }
    .texto-somos {
        margin-top: 10px;
        font-size: 19px;
        margin-right: -86px;
        
    }
    .foto-larissa {
        margin-left: 64px;
    }
    .foto-lincoln {
        margin-left: 64px;
    }
    .foto-paulo {
        margin-left: 64px;
    }
    .titulo {
        font-size: 20px;
        margin-left: 30px;
    }
    .texto-monomito {
        font-size: 18px;
        margin-left: 30px;
        
    }
    .texto-monomito-2 {
        font-size: 18px;
        margin-left: 30px;
        
    }
}

@media (min-width: 375px) {
    
    .logo-monomito {
        display: none;
    }
    .logo-monomito-2 {
        display: none;
    }

    .texto-somos {
        font-size: 25px;
        
    }
    .foto-larissa {
        margin-left: 13px;
        margin-bottom: 5px;
    }
    .foto-lincoln {
        margin-left: 13px;
        margin-bottom: 5px;
    }
    .foto-paulo {
        margin-left: 13px;
        margin-bottom: 5px;
    }
    .titulo {
        font-size: 25px;
        margin-top: 10px
    }
    .texto-monomito {
        font-size: 20px;
        margin-left: 15px;
    }
    .texto-monomito-2 {
        margin-left: 15px;
        font-size: 20px;
    }
}

@media (min-width: 425px) {
    /* .producao-img {
        width: 425px;
    } */

    .texto-somos {
        font-size: 30px;
    }
    .foto-larissa {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
    .texto-larissa {
        font-size: 21px;
    }
    .foto-lincoln {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
    .texto-lincoln {
        font-size: 21px;
    }
    .foto-paulo {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
    .texto-paulo {
        font-size: 21px;
    }
    .titulo {
        margin-top: 10px;
        font-size: 25px;
    }
    .texto-monomito {
        margin-left: 25px;
        font-size: 20px;
    }
    .texto-monomito-2 {
        margin-left: 25px;
        font-size: 20px;
       
    }
}
@media (min-width: 768px) {

    .container-row {
        margin: 0 auto;
        width: 80%;
    }
    .producao-img {
        position: relative;
        width: 60%;
        /* margin-left: 110px; */
    }
    .fotos {
        display: flex;
        position: relative;
        justify-content: center;
    }
    .logo-monomito {
        display: flex;
        width: 50px;
        position: absolute;
        top: 60px;
        right: 10px;
        /* transform: translateY(-50%); */
        transform: translateX(-85%);
    
    }
    .logo-monomito-2 {
        display: flex;
        width: 50px;
        position: absolute;
        top: 60px;
        left: 10px;
        /* transform: translateY(50%); */
        transform: translateX(85%);
    }
    .div-mae{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .texto-somos {
        font-size: 20px;
        margin-top: 30px;
        margin-left: 20px;
        /* margin-right: 341px; */
        /* width: 50% */
        
    }
    
    .texto-larissa {
        font-size: 16px;
        width: 167px;
        /* width: 50% */
    }
    .foto-larissa{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-left: 30px;
    }
    .texto-lincoln {
        font-size: 16px;
        width: 167px;
        /* width: 50% */
    }
    .foto-lincoln{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-left: 30px;
    }
    .texto-paulo {
        font-size: 16px;
        width: 167px;
        /* width: 50% */
    }
    .foto-paulo {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-left: 30px;
    }

    .texto-quem-somos{
        display: block;
    }
    
    .titulo {
        margin-top: 30px;
        margin-left: 110px;
    }
    .texto-monomito {
    flex-direction: column;
    margin-left: 97px;
    font-size: 17px;
    
    
    }
    .texto-monomito-2 {
    flex-direction: column;
    margin-left: 97px;
    font-size: 17px;
        
    }
}

@media (min-width: 1024px) {
    .logo-monomito {
    width: 80px;
    }
    .logo-monomito-2 {
        
        width: 80px;
}


    .div-mae{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .texto-somos {
        font-size: 24px;
        width: 150%;
        margin-top: 30px;
        /* margin-right: 341px; */
        /* width: 50% */
        
    }
    .titulo {
        margin-top: 30px;
        margin-left: 190px;

    }
    .texto-larissa {
        margin-left: 17px;
        /* width: 50% */
    }
    .foto-larissa{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-left: 30px;
    }
    .texto-lincoln {
        margin-left: 17px;
        /* width: 50% */
    }
    .foto-lincoln{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-left: 30px;
    }
    .texto-paulo {
        margin-left: 17px;
        /* width: 50% */
    }
    .foto-paulo {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-left: 30px;
    }

    .texto-quem-somos{
        display: block;
        font-size: 20px;
    }
    
    .texto-monomito {
    flex-direction: column;
    margin-left: 190px;
    font-size: 20px;
    
    
    }
    .texto-monomito-2 {
    flex-direction: column;
    margin-left: 190px;
    font-size: 20px;
        
    }
}


@media (min-width: 1440px) {
    
    .logo-monomito {
        width: 100px;
        }
        .logo-monomito-2 {
            
            width: 100px;
    }

    .div-mae{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .texto-somos {
        font-size: 30px;
        width: 103%;
        margin-top: 30px;
        margin-left: 46px;
        /* margin-right: 341px; */
        /* width: 50% */
        
    }
    
    .texto-larissa {
        margin-left: 17px;
        font-size: 23px;
        width: 397px;
        /* width: 50% */
    }
    .foto-larissa{
        width: 80px;
        height: 80px;
        border-radius: 70px;
        margin-left: 67px;
    }
    .texto-lincoln {
        margin-left: 17px;
        font-size: 23px;
        width: 397px;
        /* width: 50% */
    }
    .foto-lincoln{
        width: 80px;
        height: 80px;
        border-radius: 70px;
        margin-left: 67px;
    }
    .texto-paulo {
        margin-left: 17px;
        font-size: 23px;
        width: 397px;
        /* width: 50% */
    }
    .foto-paulo {
        width: 80px;
        height: 80px;
        border-radius: 70px;
        margin-left: 67px;
    }

    .texto-quem-somos{
        display: block;
        font-size: 30px;
    }

    .titulo {
        margin-top: 40px;
        margin-left: 104px;
        font-size: 30px;
    }
    
    .texto-monomito {
    flex-direction: column;
    flex-direction: column;
    margin-left: 104px;
    font-size: 23px;
    
    }
    .texto-monomito-2 {
    flex-direction: column;
    margin-left: 104px;
    font-size: 23px;
        
    }
}


@media (min-width: 1920px) {

    .logo-monomito {
        width: 200px;
        }
        .logo-monomito-2 {
            
            width: 200px;
    }
    
    .div-mae{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .texto-somos {
        font-size: 30px;
        width: 103%;
        margin-top: 30px;
        margin-left: 250px;
        /* margin-right: 341px; */
        /* width: 50% */
        
    }
    
    .texto-larissa {
        margin-left: 17px;
        font-size: 23px;
        width: 397px;
        /* width: 50% */
    }
    .foto-larissa{
        width: 80px;
        height: 80px;
        border-radius: 70px;
        margin-left: 350px;
    }
    .texto-lincoln {
        margin-left: 17px;
        font-size: 23px;
        width: 397px;
        /* width: 50% */
    }
    .foto-lincoln{
        width: 80px;
        height: 80px;
        border-radius: 70px;
        margin-left: 350px;
    }
    .texto-paulo {
        margin-left: 17px;
        font-size: 23px;
        width: 397px;
        /* width: 50% */
    }
    .foto-paulo {
        width: 80px;
        height: 80px;
        border-radius: 70px;
        margin-left: 350px;
    }

    .texto-quem-somos{
        display: block;
        font-size: 30px;
    }

    .titulo {
        margin-top: 40px;
        margin-left: 450px;
        font-size: 23px;

    }
    
    .texto-monomito {
    flex-direction: column;
    margin-left: 450px;
    font-size: 23px;
    width: 648px;
    
    
    }
    .texto-monomito-2 {
    flex-direction: column;
    margin-left: 450px;
    font-size: 23px;
    width: 648px;
        
    }
}

